<% if !@order_item.nil? && @order_item.errors.any? %>
  <div class="alert alert-danger">
    <ul>
    <% @order_item.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<% if @order.order_items.size == 0 %>
  <p class="text-center">
    Il n'y a aucun article dans votre panier. Veuillez <%= link_to "revenir en arrière", root_path %> et ajouter quelques articles à votre panier.
  </p>
<% else %>
  <% @order.order_items.each do |order_item| %>
    <%= render 'baskets/basket_row', item: order_item.item, order_item: order_item, show_total: true %>
  <% end %>
<% end %>
