<div class="shopping-basket">
  <%= render "shopping_basket" %>
</div>
<center>
	<br>
	<h4>Total du panier : <%= current_order.subtotal %>€</h4>
	<br>

	<% if current_order.subtotal > 0 %>
		<div id="stripe-button">
	  	<%= render  "stripe_pay_button" %>
		</div>
	<% end %>
</center>
