<nav class="sidebar">
    <div class="sidebar-content">
        <a class="sidebar-brand" href="/administration/items">
            <span class="align-middle">Magic Project</span>
        </a>
        
        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Dashboard
            </li>
            
            <li class="sidebar-item">
                <a href="#utilisateurs" data-toggle="collapse" class="sidebar-link collapsed">
                    <span class="align-middle">Utilisateurs</span>
                </a>
                <ul id="utilisateurs" class="sidebar-dropdown list-unstyled collapse ">
                    <li class="sidebar-item"><a class="sidebar-link" href="/administration/users">Users</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="/administration/admins">Admins</a></li>
                </ul>
            </li>
            <li class="sidebar-item">
                <a href="#produits" data-toggle="collapse" class="sidebar-link collapsed">
                    <span class="align-middle">Produits</span>
                </a>
                <ul id="produits" class="sidebar-dropdown list-unstyled collapse ">
                    <li class="sidebar-item"><a class="sidebar-link" href="/administration/items">Les items</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="/administration/items/new">Ajouter un item</a></li>
                    <li class="sidebar-item"><a class="sidebar-link" href="/administration/orders">Les commandes <span class="sidebar-badge badge badge-primary"><%= Order.all.count %></span></a></li>
                </ul>
            </li>
        </ul>
    </div>
</nav>
