<% if user_signed_in? %> 
  <% if @order_item.new_record? %>
    <%= form_for order_item, remote: true do |f| %>
      <div class="input-group">
        <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
        <%= f.hidden_field :item_id, value: item.id %>
        <%= f.submit "Ajouter au panier", class: "btn btn-primary" %>
      </div>
    <% end %> 
  <% else %>
    <button class="btn btn-secondary disabled">Ajouté</button>
  <% end %>
<% end %>

